
/* Column Classes
--------------------------------------------- */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.gridRow {
  float: left;
  width: 100%;
}
.alpha {
  margin-left: 0px !important;
}
.omega {
  margin-right: 0px !important;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.grid_1 {
  width: 4.382978723404255%;
  *width: 4.329787234042553%;
}
.grid_2 {
  width: 12.893617021276595%;
  *width: 12.840425531914894%;
}
.grid_3 {
  width: 21.404255319148934%;
  *width: 21.351063829787233%;
}
.grid_4 {
  width: 29.914893617021278%;
  *width: 29.861702127659576%;
}
.grid_5 {
  width: 38.42553191489362%;
  *width: 38.37234042553192%;
}
.grid_6 {
  width: 46.93617021276595%;
  *width: 46.88297872340425%;
}
.grid_7 {
  width: 55.44680851063829%;
  *width: 55.39361702127659%;
}
.grid_8 {
  width: 63.95744680851064%;
  *width: 63.90425531914893%;
}
.grid_9 {
  width: 72.46808510638297%;
  *width: 72.41489361702126%;
}
.grid_10 {
  width: 80.97872340425532%;
  *width: 80.92553191489361%;
}
.grid_11 {
  width: 89.48936170212765%;
  *width: 89.43617021276594%;
}
.grid_12 {
  width: 97%;
  *width: 97.94680851063829%;
}

@media handheld, only screen and (max-width: 768px){

	.container_12
	{
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.gridRow{
		float: left;
		width: 100%;
	}

	.alpha {
		margin-left: 10px !important;
	}

	.omega {
		margin-right: 10px !important;
	}

	/*Grid - 10 Columns
	----------------------------------------------------------------------*/
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: auto;
		float: none;
		display: block;
		clear: both;
	}

	/*Grid >> 10 Columns   */
	.container_12 .grid_1 { width: auto}
	.container_12 .grid_2 { width: auto;}
	.container_12 .grid_3 { width: auto;}
	.container_12 .grid_4 { width: auto;}
	.container_12 .grid_5 { width: auto;}
	.container_12 .grid_6 { width: auto;}
	.container_12 .grid_7 { width: auto;}
	.container_12 .grid_8 { width: auto;}
	.container_12 .grid_9 { width: auto;}
	.container_12 .grid_10 { width: auto;}
	.container_12 .grid_11 { width: auto;}
	.container_12 .grid_12 { width: auto;}

	.container_12 img { width: 100%; display: block; }
}

.fba-questionnaire div[class^="grid_"]{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.fba-questionnaire input[type="text"],
.fba-questionnaire input[type="email"],
.fba-questionnaire input[type="number"],
.fba-questionnaire select{
	width: 100%;
}


.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0,0)}.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}