@font-face {
  font-family: 'fba-shortcodes';
  src: url('../font/fba-shortcodes.eot?44790955');
  src: url('../font/fba-shortcodes.eot?44790955#iefix') format('embedded-opentype'),
       url('../font/fba-shortcodes.woff?44790955') format('woff'),
       url('../font/fba-shortcodes.ttf?44790955') format('truetype'),
       url('../font/fba-shortcodes.svg?44790955#fba-shortcodes') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="fba_"]:before, [class*="fba_"]:before {
  font-family: "fba-shortcodes";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;
     
  line-height: 1em;
 
  font-size: 80%; 
  position: relative;
  top: -4px;
 
}
 
i.mce-i-fba_achivements:before { content: '\e802'; } /* '' */
i.mce-i-fba_franchises:before { content: '\e803'; } /* '' */

.cmb-type-textarea-code .CodeMirror-line {
    padding-left: 40px;
    line-height: 22px;
}